{% extends "index.html" %}
{% load static %}

{% block title %}DPCFam | Downloads{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">DPCFam Downloads</h2>
    <p>The following files are available for download :</p>

    <div class="table-responsive">
        <table class="table table-striped table-bordered align-middle">
            <thead class="table-dark">
                <tr>
                    <th>File</th>
                    <th>Description</th>
                    <th style="width: 120px;">Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>DPCFam seed sequences</td>
                    <td>Seed sequences for each MCID (FASTA format)</td>
                    <td class="text-center">
                        <a href="{% static 'downloads/dpcfam/dpcfam_mcid_seeds.tar.gz' %}" class="btn btn-sm btn-primary" download>Click me</a>
                    </td>
                </tr>
                <tr>
                    <td>DPCFam MSAs</td>
                    <td>Multiple Sequence Alignments for each MCID (FASTA format)</td>
                    <td class="text-center">
                        <a href="{% static 'downloads/dpcfam/dpcfam_mcid_msas.tar.gz' %}" class="btn btn-sm btn-primary" download>Click me</a>
                    </td>
                </tr>
                <tr>
                    <td>DPCFam HMMs per MCID</td>
                    <td>HMM profile for each MCID</td>
                    <td class="text-center">
                        <a href="{% static 'downloads/dpcfam/dpcfam_mcid_hmms.tar.gz' %}" class="btn btn-sm btn-primary" download>Click me</a>
                    </td>
                </tr>
                <tr>
                    <td>DPCFam All Metaclusters HMMs</td>
                    <td>All metacluster HMM profiles (2 .hmm files: standard DPCfam and DPCfamB)</td>
                    <td class="text-center">
                        <a href="{% static 'downloads/dpcfam/dpcfam_all_metaclusters_hmms.tar.gz' %}" class="btn btn-sm btn-primary" download>Click me</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
